.card-deck .card:hover {
  box-shadow: 0px 0px 3px 1px #000000;
}

#filter .btn-light{
  background-color: #dae0e5;
}

#filter .btn-light.active {
  background-color: #ffffff;
}

.filterIcon {
  width:20px;
  height:20px;
}

.filter_box {
  border-top-style: hidden;
  border-right-style: hidden;
  border-bottom-style: solid;
  border-left-style: hidden;
}

.cardIcon img {
  width:30px;
  height:30px;
}

#adv_icon {
  width:40px;
  height:40px;
  margin-left:25px;
  margin-right:5px;
}

#card_list .card {
  min-width:200px;
  max-width:200px;
  margin:5px;
  padding:5px;
}

#card_list .cardImg_r {
  margin:auto;
}

#card_list .card-img-top {
  max-width:200px;
  margin:auto;
}

footer {
  color: white;
}

@media (max-width: 768px) {
  .filterIcon {
    width:15px;
    height:15px;
  }

  .cardIcon img {
    width:20px;
    height:20px;
  }

  #adv_icon {
    width:30px;
    height:30px;
    margin-left:25px;
    margin-right:5px;
  }

  #card_list .card {
    min-width: 150px;
    max-width: 150px;
    margin:3px;
    padding:3px;
  }

  #card_list .cardImg_r {
    margin:auto;
    width: 98px;
    height: 24px;
  }

  #card_list .card-img-top {
    max-width:150px;
    margin:auto;
  }
}
