.navbar-brand {
  padding: 0;
}

.navbar-nav .nav-link {
  padding-top: 0;
  padding-bottom: 0;
  height: 30px;
}

.navbar-nav .nav-item:hover {
   box-shadow: 0px 0px 3px 1px #ffffff;
}

.navbar-nav .nav-item:not(:last-child) {
   border-right: 1px solid gray;
   padding-right: 5px;
   padding-left: 5px;
}

@media (max-width: 768px) {
  .navbar-nav .nav-item:not(:last-child) {
    border-right: none;
  }
}

.card-deck .card:hover {
  box-shadow: 0px 0px 3px 1px #000000;
}

#filter .btn-light{
  background-color: #dae0e5;
}

#filter .btn-light.active {
  background-color: #ffffff;
}

.filterIcon {
  width:20px;
  height:20px;
}

.filter_box {
  border-top-style: hidden;
  border-right-style: hidden;
  border-bottom-style: solid;
  border-left-style: hidden;
}

.cardIcon img {
  width:30px;
  height:30px;
}

footer {
  color: white;
}
